In [1]:
import numpy as np
import pandas as pd

In [113]:
movies=pd.read_csv('movies_metadata.csv')
credits=pd.read_csv('credits.csv')

C:\Users\JAHID\AppData\Local\Temp\ipykernel_14836\2822973294.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_metadata.csv')

In [19]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [114]:
movies1=movies[['id','title','adult','imdb_id','genres','poster_path','overview','vote_average']]
movies1['adult']=movies1['adult'].apply(lambda x : "Adult" if x == True else 'NoAdult')

C:\Users\JAHID\AppData\Local\Temp\ipykernel_14836\882625558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1['adult']=movies1['adult'].apply(lambda x : "Adult" if x == True else 'NoAdult')

In [21]:
import ast

In [115]:
def getgenre(obj):
    l=[]
    for i in ast.literal_eval( obj):
        l.append(i['name'])

    return l


#f=ast.literal_eval( "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]")

#getgenre(f)
movies1['genres']=movies1['genres'].apply(getgenre)

C:\Users\JAHID\AppData\Local\Temp\ipykernel_14836\1953231344.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1['genres']=movies1['genres'].apply(getgenre)

In [116]:
print (movies1.shape,credits.shape)
movies1['id']=pd.to_numeric(movies1['id'], errors='coerce')

(45466, 8) (45476, 3)

C:\Users\JAHID\AppData\Local\Temp\ipykernel_14836\1083776754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1['id']=pd.to_numeric(movies1['id'], errors='coerce')

In [117]:
credits['id']=pd.to_numeric(credits['id'], errors='coerce').astype(float)

In [118]:
movies1=movies1.merge(credits,on='id',how='right')
#credits.info()

In [96]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.0+ MB

In [119]:
movies1['cast']=movies1['cast'].apply(getgenre)

In [120]:
def Director(obj):
    l=[]
    for i in ast.literal_eval( obj):
       if i['job']=='Director':
          l.append(i['name'])
          break

    return l


movies1['crew']=movies1['crew'].apply(Director)

In [121]:
movies1.isnull().sum()

id                0
title             3
adult             0
imdb_id          17
genres            0
poster_path     386
overview        954
vote_average      3
cast              0
crew              0
dtype: int64

In [122]:
movies1.dropna()
movies1.head()

,id,title,adult,imdb_id,genres,poster_path,overview,vote_average,cast,crew
0,862.0,Toy Story,NoAdult,tt0114709,"[Animation, Comedy, Family]",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...",7.7,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844.0,Jumanji,NoAdult,tt0113497,"[Adventure, Fantasy, Family]",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,6.9,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602.0,Grumpier Old Men,NoAdult,tt0113228,"[Romance, Comedy]",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,6.5,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357.0,Waiting to Exhale,NoAdult,tt0114885,"[Comedy, Drama, Romance]",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...",6.1,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862.0,Father of the Bride Part II,NoAdult,tt0113041,[Comedy],/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,5.7,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [123]:
movies1['crew']=movies1['crew'].apply(lambda x:[i.replace(' ','') for i in x])
movies1['cast']=movies1['cast'].apply(lambda x:[i.replace(' ','') for i in x])

In [124]:
movies1['overview']=movies1['overview'].astype(str).apply(lambda x:x.split())

In [138]:
ast.literal_eval('[{"asdsad"}]')

[{'asdsad'}]

In [143]:
movies1['tags']=movies1['overview']+movies1['cast']+movies1['crew']+ movies1['adult'].apply(lambda x: ast.literal_eval('["'+x+'"]'))

In [126]:
movies1.head()

,id,title,adult,imdb_id,genres,poster_path,overview,vote_average,cast,crew,tags
0,862.0,Toy Story,NoAdult,tt0114709,"[Animation, Comedy, Family]",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Led, by, Woody,, Andy's, toys, live, happily,...",7.7,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844.0,Jumanji,NoAdult,tt0113497,"[Adventure, Fantasy, Family]",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[When, siblings, Judy, and, Peter, discover, a...",6.9,"[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a..."
2,15602.0,Grumpier Old Men,NoAdult,tt0113228,"[Romance, Comedy]",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[A, family, wedding, reignites, the, ancient, ...",6.5,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[A, family, wedding, reignites, the, ancient, ..."
3,31357.0,Waiting to Exhale,NoAdult,tt0114885,"[Comedy, Drama, Romance]",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[Cheated, on,, mistreated, and, stepped, on,, ...",6.1,"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862.0,Father of the Bride Part II,NoAdult,tt0113041,[Comedy],/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Just, when, George, Banks, has, recovered, fr...",5.7,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],"[Just, when, George, Banks, has, recovered, fr..."

In [145]:
movies1['tags']=movies1['tags'].apply(lambda x: " ".join(x))
movies1['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. TomHanks TimAllen DonRickles JimVarney WallaceShawn JohnRatzenberger AnniePotts JohnMorris ErikvonDetten LaurieMetcalf R.LeeErmey SarahFreeman PennJillette JohnLasseter NoAdult"

In [146]:
movies1['tags']=movies1['tags'].apply(lambda x: x.lower())

In [147]:
movies1.dropna()
movies1.head()

,id,title,adult,imdb_id,genres,poster_path,overview,vote_average,cast,crew,tags
0,862.0,Toy Story,NoAdult,tt0114709,"[Animation, Comedy, Family]",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Led, by, Woody,, Andy's, toys, live, happily,...",7.7,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"led by woody, andy's toys live happily in his ..."
1,8844.0,Jumanji,NoAdult,tt0113497,"[Adventure, Fantasy, Family]",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[When, siblings, Judy, and, Peter, discover, a...",6.9,"[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],when siblings judy and peter discover an encha...
2,15602.0,Grumpier Old Men,NoAdult,tt0113228,"[Romance, Comedy]",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[A, family, wedding, reignites, the, ancient, ...",6.5,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],a family wedding reignites the ancient feud be...
3,31357.0,Waiting to Exhale,NoAdult,tt0114885,"[Comedy, Drama, Romance]",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[Cheated, on,, mistreated, and, stepped, on,, ...",6.1,"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],"cheated on, mistreated and stepped on, the wom..."
4,11862.0,Father of the Bride Part II,NoAdult,tt0113041,[Comedy],/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Just, when, George, Banks, has, recovered, fr...",5.7,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],just when george banks has recovered from his ...

In [ ]:

movies1.to_csv('movie_final.csv', index=False)