In [1]:
import numpy as np
import pandas as pd

In [83]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [63]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [84]:
movies1=movies[['id','title','genres','overview','vote_average','tagline','keywords']]
movies1.shape

(4803, 7)

In [6]:
import ast

In [85]:
def getgenre(obj):
    l=[]
    for i in ast.literal_eval( obj):
        l.append(i['name'])

    return l


#f=ast.literal_eval( "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]")

#getgenre(f)
movies1['genres']=movies1['genres'].apply(getgenre)
movies1['keywords']=movies1['keywords'].apply(getgenre)
movies1['genres'][0]

C:\Users\JAHID\AppData\Local\Temp\ipykernel_11812\2150904416.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1['genres']=movies1['genres'].apply(getgenre)
C:\Users\JAHID\AppData\Local\Temp\ipykernel_11812\2150904416.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1['keywords']=movies1['keywords'].apply(getgenre)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [66]:
movies1.tagline[0]

'Enter the World of Pandora.'

In [67]:
print (movies1.shape,credits.shape)
credits.info()
# movies1['id']=pd.to_numeric(movies1['id'], errors='coerce')

(4803, 7) (4803, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [86]:
credits["id"]=credits["movie_id"]
movies1=movies1.merge(credits,on='id')
#credits.info()

In [87]:

def getgenreCast(obj):
    l=[]
    count=0
    for i in ast.literal_eval( obj):
        l.append(i['name'])
        count=count+1
        if(count>=10):
            break

    return l

movies1['cast']=movies1['cast'].apply(getgenreCast)
movies1['cast'][0]

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Giovanni Ribisi',
 'Joel David Moore',
 'CCH Pounder',
 'Wes Studi',
 'Laz Alonso']

In [88]:
def Director(obj):
    l=[]
    for i in ast.literal_eval( obj):
       if i['job']=='Director':
          l.append(i['name'])
          break

    return l


movies1['crew']=movies1['crew'].apply(Director)
movies1['crew'][0]

['James Cameron']

In [89]:
movies1.drop('title_y',  axis='columns', inplace=True)
movies1.drop('movie_id',  axis='columns', inplace=True)
movies1.rename(columns={"title_x":"title"},inplace=True)
movies1['tagline']=movies1['tagline'].fillna(value=' ')
movies1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   overview      4800 non-null   object
 4   vote_average  4803 non-null   float64
 5   tagline       4803 non-null   object
 6   keywords      4803 non-null   object
 7   cast          4803 non-null   object
 8   crew          4803 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 337.8+ KB

In [90]:
movies1.dropna()
movies1.shape

(4803, 9)

In [100]:
movies1['genres']=movies1['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [ ]:

movies1['crew']=movies1['crew'].apply(lambda x:[i.replace(' ','') for i in x])
movies1['cast']=movies1['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies1['keywords']=movies1['keywords'].apply(lambda x:[i.replace(' ','') for i in x])

In [92]:
movies1['overview']=movies1['overview'].astype(str).apply(lambda x:x.split())
movies1['tagline']=movies1['tagline'].astype(str).apply(lambda x:x.split())

In [101]:


movies1.head()

,id,title,genres,overview,vote_average,tagline,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...",7.2,"[Enter, the, World, of, Pandora.]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...",6.9,"[At, the, end, of, the, world,, the, adventure...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...",6.3,"[A, Plan, No, One, Escapes]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...",7.6,"[The, Legend, Ends]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],following the death of district attorney harve...
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...",6.1,"[Lost, in, our, world,, found, in, another.]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"john carter is a war-weary, former military ca..."

In [138]:
ast.literal_eval('[{"asdsad"}]')

[{'asdsad'}]

In [105]:
movies1['tags']=movies1['overview']+ movies1['keywords']+ movies1['tagline']+movies1['cast']+movies1['crew']

In [106]:
movies1['tags']=movies1['tags'].apply(lambda x: " ".join(x))

In [107]:

movies1['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d Enter the World of Pandora. SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso JamesCameron'

In [108]:
movies1['tags']=movies1['tags'].apply(lambda x: x.lower())

In [109]:
movies1.dropna()
movies1.head()

,id,title,genres,overview,vote_average,tagline,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...",7.2,"[Enter, the, World, of, Pandora.]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...",6.9,"[At, the, end, of, the, world,, the, adventure...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...",6.3,"[A, Plan, No, One, Escapes]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...",7.6,"[The, Legend, Ends]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],following the death of district attorney harve...
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...",6.1,"[Lost, in, our, world,, found, in, another.]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"john carter is a war-weary, former military ca..."

In [110]:

movies1.to_csv('movie_final.csv', index=False)